<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
    {% endblock %}
    {% block javascripts %}
    {% endblock %}
    {% block importmap %}{{ importmap('app') }}{% endblock %}
</head>
<body class="min-h-screen flex flex-col">
<div class="flex-grow">
    {% block navbar %}
        <nav class="bg-gray-800 text-white p-4">
            <ul class="flex justify-end space-x-4">
                <li>
                    <a href="{{ path('app_homepage') }}" class="hover:underline">
                        Home
                    </a>
                </li>
                <li>
                    {% if app.user %}
                        <a href="{{ path('app_follow') }}" class="hover:underline">
                            Follow
                        </a>
                    {% endif %}
                </li>
                <li>
                    {% if app.user %}
                        <a href="{{ path('app_dashboard') }}" class="hover:underline">
                            Dashboard
                        </a>
                    {% endif %}
                </li>
                <li>
                    <a href="{{ app.user ? path('app_redirect_logout') : path('app_login') }}" class="hover:underline">
                        {{ app.user ? 'Logout' : 'Login' }}
                    </a>
                </li>
                <li>
                    {% if not app.user %}
                        <a href="{{ path('app_register') }}" class="hover:underline">
                            Register
                        </a>
                    {% endif %}
                </li>

            </ul>
        </nav>
    {% endblock %}
    {% block body %}{% endblock %}
</div>
<footer class="bg-gray-800 text-white py-4">
    {% include 'footer/footer.html.twig' %}
</footer>
</body>
</html>